* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: AvenirRegular;
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
}

@font-face {
  font-family: AvenirDemi;
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
}

@font-face {
  font-family: AvenirBold;
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
}

.header-container {
  display: block;
  text-align: center;
  margin-left: 16px;
  margin-right: 16px;
}

.header-container__logo {
  padding: 10px 0px;
}

.header-search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  border: 1px solid #afafaf;
  background-color: #fafafa;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.header-search__icon {
  padding: 10px;
}

.header-search__text {
  border: 0;
  padding: 10px 10px 10px 0;
  background-color: #fafafa;
}

.upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.upload-button {
  width: 100%;
}

.upload-button__btn {
  background-color: #0095ff;
  color: #ffffff;
  font-family: AvenirDemi;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: 1px solid #0095ff;
}

.upload-button__btn img {
  padding-right: 16px;
}

.profile img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  margin-left: 16px;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 16px 24px 16px 24px;
  }
  .header-container__logo {
    margin-right: 169px;
  }
  .header-search {
    height: 48px;
  }
  .upload {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
    height: 48px;
  }
  .upload-button__btn {
    width: 100px;
    height: 48px;
    margin-left: 24px;
    padding: 0;
  }
  .upload-button__btn img {
    padding-right: 8px;
  }
  .profile img {
    width: 48px;
    height: 48px;
    margin-left: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 24px 180px 24px 180px;
  }
  .header-container__logo {
    margin-right: 509px;
  }
}

.hero-background video {
  width: 100%;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 45px;
}

.controls-play img {
  padding: 5px 15px 5px 20px;
  background-color: #323232;
  border-radius: 5px;
}

.controls-range {
  border-radius: 5px;
  background-color: #323232;
  margin-right: 8px;
  margin-left: 8px;
  width: 60%;
}

.controls-buttons {
  background-color: #323232;
  border-radius: 5px;
}

.controls-buttons img {
  padding: 5px 15px 5px 20px;
  background-color: #323232;
}

@media screen and (min-width: 768px) {
  .hero-background {
    background-color: black;
    width: 100%;
    height: 400px;
  }
  .hero-background video {
    height: 400px;
    width: 91.14%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .hero-background {
    width: 100%;
    height: 540px;
  }
  .hero-background video {
    height: 540px;
  }
}

.container-title {
  margin-right: 16px;
  margin-left: 16px;
  display: block;
  font-family: AvenirBold;
}

.container-title h1 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
}

.container-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}

.container-author h2 {
  font-family: AvenirDemi;
  font-size: 14px;
  line-height: 22px;
  margin-right: 8px;
  text-align: center;
}

.container-author h5 {
  font-family: AvenirRegular;
  color: #afafaf;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container h5 {
  font-family: AvenirRegular;
  font-size: 12px;
  line-height: 20px;
}

.container-views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.container-views img {
  margin-right: 8px;
}

.container-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-likes img {
  margin-right: 8px;
}
/*# sourceMappingURL=app.css.map */