.container-videos {
  margin-right: 16px;
  margin-left: 16px;

  h2 {
    font-family: AvenirDemi;
    color: $silver;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 22px;
  }

  video {
    display: block;
    width: 120px;
    height: 70px;
    margin-right: 16px;
  }
}

.video-one {
  display: flex;
  margin-bottom: 24px;
  padding-left: 0px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-two {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-three {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-four {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-five {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-six {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-seven {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}

.video-eight {
  display: flex;
  margin-bottom: 24px;

  &__title {
    font-family: AvenirDemi;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__author {
    font-family: AvenirRegular;
    font-size: 13px;
    line-height: 18px;
  }
}
