.container {
  display: block;
  display: flex;
}

.container-avatar {
  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 16px;
  }
}

label {
  display: block;
  font-family: AvenirDemi;
  color: $silver;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
}

.container-comment__input {
  width: 100%;
}

textarea {
  border: 2px solid $brainflix-blue;
  width: 100%;
  margin-bottom: 16px;
}

.container-comment__btn {
  background-color: $brainflix-blue;
  color: $white;
  font-family: AvenirDemi;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  border: 1px solid $brainflix-blue;
  margin-bottom: 24px;
}
