.hero-background {
  height: 183px;

  &__video {
    video {
      width: 100%;
    }
  }
}

// For Tablet
@media screen and (min-width: 768px) {
  .hero-background {
    background-color: black;
    height: 400px;

    &__video {
      height: 400px;

      video {
        // height: 400px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }
  }
}

// For Tablet

@media screen and (min-width: 1440px) {
  .hero-background {
    background-color: black;
    height: 540px;

    &__video {
      video {
        width: 944px;
        display: block;
      }
    }
  }
}
