.container {
  display: block;
}

.container-avatar {
  img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    // margin-left: 16px;
  }
}

.container-comment {
  display: block;
}

// .container-comment__btn {
//   background-color: blue;
//   color: $white;
//   font-family: AvenirDemi;
//   font-size: 12px;
//   line-height: 20px;
//   padding: 10px 10px;
//   border-radius: 5px;
//   width: 100%;
//   text-align: center;
//   //   border: 1px solid $brainflix-blue;
// }
