.description-paragraph {
  margin-top: 24px;
  font-family: AvenirRegular;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .description-paragraph {
    margin-top: 40px;
    font-family: AvenirRegular;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 64px;
  }
}
